<h1>Users#index</h1>

<h3> Sign Up </h3>
<%= link_to 'Sign up', new_user_path %>

<br>

<h3> Already have an account? </h3>
<%= link_to 'Sign in', signin_path %>

<br>
<br>
<p>Find me in app/views/users/index.html.erb</p>
